<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/basic :: head}">
</head>
<body class="animsition">
<div class="page-wrapper">
    <aside th:replace="layout/basic :: mobile"></aside>
    <aside th:replace="layout/basic :: sidebar"></aside>
    <link th:href="@{css/approvalList.css}" rel="stylesheet">
    <div class="page-container">
        <div th:replace="layout/basic :: header"></div>
        <div class="container-fluid contents_size">
            <section class="content">
                <div class="container-fluid">
                    <div>
                        <div>
                            <div class="card">
                                <div class="card-header ap_title">
                                    <h2 class="mt-4">승인관리</h2>
                                </div>
                                <div class="card-body row">
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <table class="table  table-earning table-light text-center table-striped table-bordered table-hover shadow
                                                                            p-3 mb-5 bg-white rounded aptable-size">
                                            <thead>
                                            <tr>
                                                <th>기사코드</th>
                                                <th>구분</th>
                                                <th>소개</th>
                                                <th>경력</th>
                                            </tr>
                                            </thead>
                                            <tbody id="apptable" class="table-hover">
                                            <tr th:each="apList : ${apList}">
                                                <td  id="loadD_id" >[[${apList.d_id}]]</td>
                                                <td th:switch="${apList.corp_code}">
                                                    <p th:case="c">법인</p>
                                                    <p th:case="i">개인</p>
                                                </td>
                                                <td>
                                                    <div>
                                                        <span class="badge bg-grey"
                                                              th:text="${#strings.substring(apList.d_license_no,3, 5)}"></span>
                                                        <span class="badge bg-grey"
                                                              th:text="${apList.car_model}"></span>
                                                    </div>
                                                </td>
                                                <td th:text="|${#strings.substring(apList.d_license_no,0, 2)}년 취득|"></td>
                                            </tr>
                                            </tbody>
                                        </table>


                                    </div>
                                    <div class="apinfo-size col-md-6 col-sm-12 col-xs-12">
                                        <div class="d_info">
                                            <div class="text-center ap_profile">
                                                <div class="dProfile">
                                                    <!--<img th:href="@{${apList.m_profile}}" -->
                                                </div>
                                                <div class="dname">

                                                </div>
                                            </div>
                                            <div class="dInfo ap_d_info">

                                            </div>
                                            <div class="dBtn ap_button">

                                            </div>
                                        </div>
                                    </div>
                                    <nav>
                                        <ul class="pagination justify-content-center ap-page">
                                            <th:block th:if="${pageMaker.prev}">
                                                <li class="page-item">
                                                    <a class="page-link"
                                                       th:href="@{/approval(pageNum=${pageMaker.startPage-1})}"
                                                       aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                            </th:block>

                                            <li th:class=" 'page-item ' + ${pageMaker.cri.pageNum == page?'active':''}"
                                                th:each="page: ${pageMaker.pageList}">
                                                <a class="page-link" th:href="@{/approval(pageNum=${page})}">
                                                    [[${page}]]
                                                </a>

                                            </li>

                                            <th:block th:if="${pageMaker.next}">
                                                <li class="page-item">
                                                    <a class="page-link"
                                                       th:href="@{/approval(pageNum=${pageMaker.endPage+1})}"
                                                       aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </th:block>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


<footer th:replace="layout/basic :: footer">
</footer>
</body>
</html>