<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/basic :: head}">
</head>

<body class="animsition">
<div class="page-wrapper">
    <aside th:replace="layout/basic :: mobile"></aside>
    <aside th:replace="layout/basic :: sidebar"></aside>

    <div class="page-container">
        <div th:replace="layout/basic :: header"></div>
        <div class="container-fluid contents_size">
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h2 style="margin-top: auto">기사관리</h2>
                                </div>
                                <div class="card-body">
                                    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name" class="col-sm-4 col-xs-4 col-md-4">
                                    <table id="myTable" class="table  table-earning table-light text-center table-striped table-bordered table-hover shadow p-3 mb-5 bg-white rounded">
                                        <thead>
                                        <tr>
                                            <th class="text-center" onclick="sortTable(0)">구분</th>
                                            <th class="text-center" onclick="sortTable(1)">이름</th>
                                            <th class="text-center" onclick="sortTable(2)">휴대폰번호</th>
                                            <th class="text-center" onclick="sortTable(3)">승인일자</th>
                                            <th class="text-center" onclick="sortTable(4)">생년월일</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="driver : ${drivers}">
                                              <td class="text-center">기사</td>
                                              <td class="text-center bd_title"><a th:href="@{'/driver/'+${driver.m_id}}">
                                                  <span th:text="${driver.m_name}"></span>
                                              </a></td>
                                              <td>
                                                  <span th:text="${#strings.substring(driver.m_id,2, 5)}"></span>-<span th:text="${#strings.substring(driver.m_id,5, 9)}"></span>-<span th:text="${#strings.substring(driver.m_id,9, 13)}"></span>
                                              </td>
                                              <td class="text-center" th:text="${#strings.substring(driver.d_j_date,0,10)}"></td>
                                              <td class="text-center">
                                                  <span th:text="${#strings.substring(driver.m_birth,2, 4)}"></span>.
                                                  <span th:text="${#strings.substring(driver.m_birth,5, 7)}"></span>.
                                                  <span th:text="${#strings.substring(driver.m_birth,8, 10)}"></span>
                                              </td>
                                        </tr>
                                    </table>
                                    <!--회원관리 테이블 끝-->
                                    <!-- 페이지 네이션 -->
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination justify-content-center">
                                            <th:block th:if="${pageMaker.prev}">
                                                <li class="page-item">
                                                    <a class="page-link" th:href="@{/driver(pageNum=${pageMaker.startPage-1})}" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                            </th:block>

                                            <li th:class=" 'page-item ' + ${pageMaker.cri.pageNum == page?'active':''}" th:each="page: ${pageMaker.pageList}">
                                                <a class="page-link" th:href="@{/driver(pageNum=${page})}">
                                                    [[${page}]]
                                                </a>

                                            </li>

                                            <th:block th:if="${pageMaker.next}">
                                                <li class="page-item">
                                                    <a class="page-link" th:href="@{/driver(pageNum=${pageMaker.endPage+1})}" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </th:block>
                                        </ul>
                                    </nav>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>



<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("myTable");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc";
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /*check if the two rows should switch place,
                based on the direction, asc or desc:*/
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch= true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount ++;
            } else {
                /*If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again.*/
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>

<footer th:replace="layout/basic :: footer">
</footer>
</body>
</html>