<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/basic :: head}">
</head>
<body class="animsition">
<div class="page-wrapper">
    <aside th:replace="layout/basic :: mobile"></aside>
    <aside th:replace="layout/basic :: sidebar"></aside>
    <div class="page-container">
        <div th:replace="layout/basic :: header"></div>
        <div class="container-fluid contents_size">
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h2 style="margin-top: auto">이벤트 작성</h2>
                                </div>
                                <div class="card-header-title">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">제목</span>
                                        <input type="text" class="form-control" placeholder="제목을 작성해 주세요." id="event-write-title">

                                        <div class="btn-group justify-content-end">
                                            <!--                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">-->
                                            <!--                                                <span id="notice-write-status" class="caret">공개</span>-->
                                            <!--                                            </button>-->
                                            <!--                                            <ul class="dropdown-menu" role="menu">-->
                                            <!--                                                <li><a href="#">공개</a></li>-->
                                            <!--                                                <li><a href="#">비공개</a></li>-->
                                            <!--                                                <li><a href="#">예약</a></li>-->
                                            <!--                                            </ul>-->
                                            <select id="notice-write-status">
                                                <option value="0">공개</option>
                                                <option value="1">비공개</option>
                                                <option value="2">예약</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="event-calendar row col-sm-12 col-md-12 col-lg-12">
                                        <div class="col-sm-2.5 col-md-2.5 col-lg-2.5">
                                            <span>시작일</span>
                                            <input type="text" id="event-time-start" placeholder="날짜를 선택해 주세요"/>
                                        </div>

                                        <div class="col-sm-2.5 col-md-2.5 col-lg-2.5">
                                            <span>종료일</span>
                                            <input type="text" id="event-time-end" placeholder="날짜를 선택해 주세요"/>
                                        </div>

                                        <div class="col-sm-6 col-lg-6 col-md-6">

                                                <span>이벤트 종류 </span>
                                                <select id="event-write-status">
                                                    <option value="sp">봄</option>
                                                    <option value="sm">여름</option>
                                                    <option value="fa">가을</option>
                                                    <option value="wi">겨울</option>
                                                    <option value="de">비정기</option>
                                                    <option value="al">상시</option>
                                                </select>

                                                <select id="event-write-exact">
                                                    <option value="0">적립</option>
                                                    <option value="1">추천</option>
                                                    <option value="2">선착순</option>
                                                </select>

                                        </div>
                                    </div>
                                </div>



                                <div class="card-body">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">내용</span>
                                        </div>
                                        <textarea class="form-control" rows="10" id="event-write-content" placeholder="내용을 입력해 주세요.">
                                        </textarea>
                                    </div>
                                </div>

                                <div class="form-group filmForm">
                                    <label>Image Files</label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input files" id="fileInput" multiple>
                                        <label class="custom-file-label" data-browse="Browse"></label>
                                    </div>
                                </div>

                                <style>
                                    .uploadResult{
                                        width: 100%;
                                        background-color: gray;
                                        margin-top: 10px;
                                    }

                                    .uploadResult ul{
                                        display: flex;
                                        flex-flow: row;
                                        justify-content: center;
                                        align-items: center;
                                        vertical-align: top;
                                        overflow: auto;
                                    }

                                    .uploadResult ul li{
                                        list-style: none;
                                        padding: 10px;
                                        margin-left: 2em;
                                    }

                                    .uploadResult ul li img{
                                        width: 100px;
                                    }
                                </style>

                                <div class="uploadResult">
                                    <ul>

                                    </ul>
                                </div>

                                <div class="card-footer">
                                    <div class="float-right">
                                        <button type="button" id="event-write" class="btn btn-primary modalBtn">글 등록</button>
                                    </div>
                                    <div class="float-left">
                                        <button type="button" id="back" class="btn btn-info" onclick="location.href='/event'">뒤로</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" th:value="${session.member.m_id}" id="m_id">
            </section>
        </div>
    </div>
</div>
<script>
    $(document).ready(function (e) {

        // 정규식 파일 종류 업로드 안되는 것 걸러 내는 로직
        var regex = new RegExp("(.*?)\(exe|sh|zip|alz|tiff)$");
        var maxSize = 10485760; // 10MB

        function checkExtension(fileName, fileSize) {

            if (fileSize >= maxSize) {
                alert("파일 사이즈 초과");
                return false;
            }

            if (regex.test(fileName)) {
                alert("해당 종류의 파일은 업로드 할 수 없습니다.");
                return false;
            }

            return true;
        }

        $(".custom-file-input").on("change", function() {

            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);

            var formData = new FormData();

            var inputFile = $(this);

            var files = inputFile[0].files;

            var appended = false;

            for (var i = 0; i < files.length; i++) {

                if(!checkExtension(files[i].name, files[i].size) ){
                    return false;
                }

                console.log(files[i]);
                formData.append("uploadFiles", files[i]);
                appended = true;
            }

            //upload를 하지 않는다.
            if (!appended) {return;}

            for (var value of formData.values()) {
                console.log(value);
            }

            //실제 업로드 부분
            //upload ajax
            $.ajax({
                url: '/api/uploadAjax',
                processData: false,
                contentType: false,
                data: formData,
                type: 'POST',
                dataType:'json',
                success: function(result){
                    console.log(result);
                    showResult(result);
                },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log(textStatus);
                }
            }); //$.ajax
        }); //end change event


        function showResult(uploadResultArr){

            var uploadUL = $(".uploadResult ul");

            var str ="";

            $(uploadResultArr).each(function (i, obj) {
                console.log(obj);

                str += "<li data-name='" + obj.img_name + "' data-path='"+obj.path+"' data-uuid='"+obj.uuid+"'>";
                str + " <div>";
                str += "<button type='button' data-file=\'" + obj.imageURL + "\' "
                str += "class='btn-warning btn-sm'>X</button><br>";
                str += "<img src='/api/display?fileName=" + obj.thumbnailURL + "'>";
                str += "</div>";
                str + "</li>";
            });

            uploadUL.append(str);
        }

        $(".uploadResult").on("click", "li button", function (e) {

            console.log("delete file");

            var targetFile = $(this).data("file");

            var targetLi = $(this).closest("li");

            $.ajax({
                url:'/api/removeFile',
                data:{fileName:targetFile},
                dataType: 'text',
                type:'POST',
                success: function (result) {
                    alert(result);
                    targetLi.remove();
                }
            }); // $.ajax
        });
    });
</script>
<footer th:replace="layout/basic :: footer">
</footer>
<script th:src="@{~/js/app/event.js}"></script>
</body>
</html>