<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/basic :: head}">
</head>
<body class="animsition">
<div class="page-wrapper">
    <aside th:replace="~{layout/basic :: mobile}"></aside>
    <aside th:replace="~{layout/basic :: sidebar}"></aside>

    <div class="page-container">
        <div th:replace="~{layout/basic :: header}"></div>
        <div class="container-fluid contents_size">
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h2>이벤트</h2>
                                </div>
                                <div class="card-header-title">
                                    <div class="not-title">
                                        <input type="hidden" id="bd_id" th:value="${event.bd_id}"/>
                                        <div class="float-left" th:text="${event.bd_title}|">제목</div>
                                        <br>
                                    </div>
                                    <div class="not-info">
                                        <img src="/images/kakao.png" class="not-img">
                                        <span class="not-writer">관리자</span>
                                        <span th:text="${#strings.substring(event.bd_s_date,0,10)}"></span>~ <span class="not-time" th:text="${#strings.substring(event.bd_e_date,0,10)}"></span>
                                        <span class="not-count" th:text="${event.bd_count}"> 3333 </span>
                                        <th:block th:switch="${event.bd_status}">
                                            <span class="no-font" th:case="0">공개</span>
                                            <span class="no-font" th:case="1">비공개</span>
                                            <span class="no-font" th:case="2">예약</span>
                                        </th:block>
                                        <th:block th:switch="${#strings.substring(event.bd_id,0,2)}">
                                            <span class="no-font" th:case="sp">봄</span>
                                            <span class="no-font" th:case="sm">여름</span>
                                            <span class="no-font" th:case="fa">가을</span>
                                            <span class="no-font" th:case="wi">겨울</span>
                                            <span class="no-font" th:case="de">비정기</span>
                                            <span class="no-font" th:case="al">상시</span>
                                        </th:block>
                                        <th:block th:switch="${#strings.substring(event.bd_id,2,3)}">
                                            <span class="no-font" th:case="0">적립</span>
                                            <span class="no-font" th:case="1">추첨</span>
                                            <span class="no-font" th:case="2">선착순</span>
                                        </th:block>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p th:text="${event.bd_contents}">내용</p>
                                </div>
                                <div class="page_move">
                                    <ul>
                                        <li>
                                                <span class="page_move_btn">
                                                    <a href="">
                                                        <i class="fa fa-arrow-up" aria-hidden="true"></i>
                                                        이전글
                                                    </a>
                                                </span>
                                            <p class="not-footer-title">
                                                <a href="">이전글이 없습니다.</a>
                                            </p>
                                        </li>
                                        <li>
                                                <span class="page_move_btn">
                                                    <a href="">
                                                        <i class="fa fa-arrow-down" aria-hidden="true"></i>
                                                        다음글
                                                    </a>
                                                </span>
                                            <div>
                                                <a href="">다음글이 없습니다.</a>
                                                <div class="page_move_info">
                                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                    14:49
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-footer">
                                    <div class="float-right">
                                        <button type="button" class="btn btn-primary" id="event-remove">삭제</button>
                                        <button type="button" class="btn btn-info" id="event-modify-move">글 수정</button>
                                        <button type="button" class="btn btn-light" id="event-list">글 목록</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<input id="e_id" type="hidden" th:value="${event.bd_id}" />
<footer th:replace="~{layout/basic :: footer}">
</footer>
<script th:src="@{~/js/app/event.js}"></script>
</body>
</html>