<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/basic :: head}">
</head>
<body class="animsition">
<div class="page-wrapper">
    <aside th:replace="~{layout/basic :: mobile}"></aside>
    <aside th:replace="~{layout/basic :: sidebar}"></aside>

    <div class="page-container">
        <div th:replace="~{layout/basic :: header}"></div>
        <div class="container-fluid contents_size">
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h2>공지사항</h2>
                                </div>
                                <div class="card-header-title">
                                    <div class="not-title">
                                        <span class="float-left" th:text="| 이벤트 이름 : ${event.bd_title}|">제목</span>
                                        <span class="float-right not-time" th:text="${#dates.format(event.bd_s_date,'yy-MM-dd')}"></span>
                                        <span class="float-right not-time" th:text="${#dates.format(event.bd_e_date,'yy-MM-dd')}"></span>
                                    </div>
                                </div>
                                <div class="card-header-title">
                                    <div>
                                        <div>
                                            <span>글번호</span>
                                            <span th:text="| : ${#strings.substring(event.bd_id,3)}|"></span>
                                            <span> &#124; 관리자 &#124; </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p th:text="${event.bd_contents}">내용</p>
                                </div>
                                <div class="card-footer">
                                    <div class="float-right">
                                        <button type="button" class="btn btn-primary" id="event-remove">삭제</button>
                                        <button type="button" class="btn btn-info" id="event-modify-move">글 수정</button>
                                        <button type="button" class="btn btn-light" id="event-list">글 목록</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<input id="e_id" type="hidden" th:value="${event.bd_id}" />
<footer th:replace="~{layout/basic :: footer}">
</footer>
<script th:src="@{~/js/app/event.js}"></script>
</body>
</html>