<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/basic :: head}">
</head>
<body class="animsition">
<div class="page-wrapper">
    <aside th:replace="layout/basic :: mobile"></aside>
    <aside th:replace="layout/basic :: sidebar"></aside>
    <div class="page-container">
        <div th:replace="layout/basic :: header"></div>
        <div class="container-fluid contents_size">
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h2 style="margin-top: auto">공지사항 작성</h2>
                                </div>
                                <div class="card-header-title">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">제목</span>
                                        <input type="text" class="form-control" placeholder="제목을 작성해 주세요." id="notice-write-title">

                                        <div class="btn-group justify-content-end">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                <span id="notice-write-status" class="caret">공개</span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">공개</a></li>
                                                <li><a href="#">비공개</a></li>
                                                <li><a href="#">예약</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>



                                <div class="card-body">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">내용</span>
                                        </div>
                                        <textarea class="form-control" rows="10" id="notice-write-content" placeholder="내용을 입력해 주세요."></textarea>
                                    </div>
                                </div>

                                <div class="card-footer">
                                    <div class="float-right">
                                        <button type="button" id="notice-write" class="btn btn-primary modalBtn">글 등록</button>
                                    </div>
                                    <div class="float-left">
                                        <button type="button" id="back" class="btn btn-info" onclick="location.href='/notice'">뒤로</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" th:value="a101091841243" id="m_id">
            </section>
        </div>
    </div>
</div>
<footer th:replace="layout/basic :: footer">
</footer>
<script th:src="@{~/js/app/board.js}"></script>
</body>
</html>