<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/basic :: head}">
</head>

<body class="animsition">
<div class="page-wrapper">
    <aside th:replace="layout/basic :: mobile"></aside>
    <aside th:replace="layout/basic :: sidebar"></aside>

    <div class="page-container">
        <div th:replace="layout/basic :: header"></div>
        <div class="container-fluid contents_size">
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h2 style="margin-top: auto">공지관리</h2>
                                </div>
                                <div class="card-body">
                                    <table id="table" class="table  table-earning table-light text-center table-striped table-bordered table-hover shadow p-3 mb-5 bg-white rounded">
                                        <thead>
                                        <tr>
                                            <th>번호</th>
                                            <th>제목</th>
                                            <th>등록일</th>
                                            <th>조회수</th>
                                            <th>상태</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                        <tr th:each="noticeList : ${noticeList}">
                                            <td th:text="${#strings.substring(noticeList.bd_id,2)}"></td>
                                            <td><a th:href="@{'/notice/'+${noticeList.bd_id}}"><span th:text="${noticeList.bd_title}"></span></a></td>
                                            <td th:text="${#strings.substring(noticeList.bd_cre_date,0,10)}"></td>
                                            <td th:text="${noticeList.bd_count}"></td>
                                            <td th:switch="${noticeList.bd_status}">
                                                <p th:case="0">공개</p>
                                                <p th:case="1">비공개</p>
                                                <p th:case="2">예약</p>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                    <br>
                                    <div style="text-align: right ">
                                        <button type="button" class="btn btn-info" id="notice-write-move">글작성</button>
                                    </div>

                                    <nav>
                                        <ul class="pagination justify-content-center">
                                            <th:block th:if="${pageMaker.prev}">
                                            <li class="page-item">
                                                <a class="page-link" th:href="@{/notice(pageNum=${pageMaker.startPage-1})}" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            </th:block>

                                            <li th:class=" 'page-item ' + ${pageMaker.cri.pageNum == page?'active':''}" th:each="page: ${pageMaker.pageList}">
                                                <a class="page-link" th:href="@{/notice(pageNum=${page})}">
                                                    [[${page}]]
                                                </a>

                                            </li>

                                            <th:block th:if="${pageMaker.next}">
                                            <li class="page-item">
                                                <a class="page-link" th:href="@{/notice(pageNum=${pageMaker.endPage+1})}" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                            </th:block>
                                        </ul>


                                    </nav>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
    </div>
</div>

<footer th:replace="layout/basic :: footer">
</footer>
</body>
</html>