<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmate.mapper.BoardMapper">

    <select id="getBoardList" resultType="com.tmate.domain.BoardDTO">
        <![CDATA[
        select bd_id, bd_status, bd_contents, bd_title, bd_cre_date, bd_count ,m_id
        from
            (
                select
                    rownum rn, bd_id, bd_status, bd_contents, bd_title, bd_cre_date, bd_count, m_id
                from
                    board
                where bd_id like 'nt%' and  rownum <= #{pageNum} * #{amount}
                order by to_number(substr(bd_id,3)) desc
                )
        where rn > (#{pageNum} - 1) * #{amount}
        ]]>
    </select>

    <select id="getEventList" resultType="com.tmate.domain.BoardDTO">
        <![CDATA[
        select bd_id,  bd_contents, bd_title, bd_count ,bd_s_date,bd_e_date,m_id
        from
            (
                select
                    rownum rn, bd_id,  bd_contents, bd_title, bd_s_date,bd_e_date ,bd_count, m_id
                from
                    board
                where bd_id not like 'nt%' and  rownum <= #{pageNum} * #{amount}
                order by to_number(substr(bd_id,4)) desc
            )
        where rn > (#{pageNum} - 1) * #{amount}
        ]]>
    </select>

    <select id="readE" resultType="com.tmate.domain.BoardDTO">
        select *
        from (
                 select bd_id, bd_status, bd_contents, bd_title, bd_cre_date, bd_mod_date, bd_s_date,bd_e_date ,bd_count, m_id,
                        LEAD(bd_title,1,'다음글') OVER(ORDER BY bd_id) next_title,
                        LEAD(bd_id,1,'다음 글이 없습니다') OVER(ORDER BY bd_id) next_id,
                        LEAD(bd_cre_date,1) OVER(ORDER BY bd_id) next_cre_date,
                        LAG(bd_title,1,'이전글') OVER(ORDER BY bd_id) prev_title,
                        LAG(bd_id,1,'이전 글이 없습니다') OVER(ORDER BY bd_id) prev_id,
                        LAG(bd_cre_date,1) OVER(ORDER BY bd_id) prev_cre_date
                 from board
                 where bd_id not like 'nt%'
                 order by bd_id
             )
        where bd_id = #{bd_id}
    </select>

    <select id="getBoardUserList" resultType="com.tmate.domain.BoardDTO">
        <![CDATA[
        select bd_id, bd_status, bd_contents, bd_title, bd_cre_date, bd_count ,m_id
        from
            (
                select
                    rownum rn, bd_id, bd_status, bd_contents, bd_title, bd_cre_date, bd_count, m_id
                from
                    board
                where bd_id like 'nt%' and bd_status = '0' and  rownum <= #{pageNum} * #{amount}
                order by to_number(substr(bd_id,3)) desc
            )
        where rn > (#{pageNum} - 1) * #{amount}
        ]]>
    </select>

    <select id="totalUserCount" resultType="_int">
        select count(*) from board where bd_id like 'nt%' and bd_status='0'
    </select>

    <select id="totalEventCount" resultType="_int">
        select count(*) from board where bd_id not like 'nt%'
    </select>

    <select id="read" resultType="com.tmate.domain.BoardDTO">
        select *
        from (
                 select bd_id, bd_status, bd_contents, bd_title, bd_cre_date, bd_mod_date, bd_count, m_id,
                        LEAD(bd_title,1,'다음글') OVER(ORDER BY bd_id) next_title,
                        LEAD(bd_id,1,'다음 글이 없습니다') OVER(ORDER BY bd_id) next_id,
                        LEAD(bd_cre_date,1) OVER(ORDER BY bd_id) next_cre_date,
                        LAG(bd_title,1,'이전글') OVER(ORDER BY bd_id) prev_title,
                        LAG(bd_id,1,'이전 글이 없습니다') OVER(ORDER BY bd_id) prev_id,
                        LAG(bd_cre_date,1) OVER(ORDER BY bd_id) prev_cre_date
                 from board
                 where bd_id like 'nt%'
                 order by bd_id
             )
        where bd_id = #{bd_id}
    </select>

    <select id="totalCount" resultType="_int">
        select count(*) from board where bd_id like 'nt%'
    </select>


    <update id="update">
        update board
        set bd_title = #{bd_title},
            bd_contents = #{bd_contents},
            bd_mod_date = sysdate,
            bd_status = #{bd_status}
        where bd_id = #{bd_id}
    </update>

    <update id="updateE">
        update board
        set bd_title = #{bd_title},
            bd_contents = #{bd_contents},
            bd_mod_date = sysdate,
            bd_s_date = #{bd_s_date},
            bd_e_date = #{bd_e_date}
        where bd_id = #{bd_id}
    </update>

    <delete id="delete">
        delete from board where bd_id = #{bd_id}
    </delete>

    <insert id="insert">
        insert into board (bd_id, bd_status, bd_contents, bd_title, m_id)
        values('nt'||LPAD(nt_sec.nextval,6,'0'),#{bd_status},#{bd_contents},#{bd_title},#{m_id})
    </insert>

    <insert id="insertEvent">

        <selectKey keyProperty="bd_id" order="BEFORE" resultType="string">
            select #{keyword}||LPAD(nt_sec.nextval,6,'0') from dual
        </selectKey>

        insert into board (bd_id, bd_status, bd_contents, bd_title, bd_s_date,bd_e_date,m_id)
        values(#{bd_id},'0',#{bd_contents},#{bd_title},#{bd_s_date},#{bd_e_date},#{m_id})
    </insert>

    <update id="viewCount">
        update board set bd_count = bd_count + 1 where bd_id = #{bd_id}
    </update>

    <select id="getNoticeList" resultType="com.tmate.domain.BoardDTO">
        select * from board where bd_id like 'nt%' order by bd_cre_date desc
    </select>

    <select id="findProgressEvent" resultType="com.tmate.domain.BoardDTO">
        <![CDATA[
            select * from board
            where bd_id not like 'nt%' and bd_e_date > systimestamp
            order by bd_e_date desc
        ]]>
    </select>

    <select id="findFinishedEvent" resultType="com.tmate.domain.BoardDTO">
        <![CDATA[
            select * from board
            where bd_id not like 'nt%' and bd_e_date < systimestamp
            order by bd_e_date desc
        ]]>
    </select>

    <select id="findEventByBd_id" resultType="com.tmate.domain.BoardDTO">
        select *
        from board
        where bd_id = #{bd_id}
    </select>

</mapper>