<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmate.mapper.DriverMapper">

    <!-- 기사 리스트 -->
    <select id="getList" resultType="com.tmate.domain.JoinDriversVO">
        <![CDATA[
        select rownum rn, m.m_id as m_id, m.m_name as m_name , m.m_birth as m_birth, d.d_j_date as d_j_date , c.car_no as car_no, c.car_model as car_model
        from
            (
                select rownum rn, m.m_id as m_id, m.m_name as m_name , m.m_birth as m_birth, d.d_j_date as d_j_date , c.car_no as car_no, c.car_model as car_model
                from
                    member m inner join driver d on m.m_id = d.d_id
                             inner join car c on d.d_id = c.m_id
              where  rownum <= #{cri.pageNum} * #{cri.amount})
        where rn > (#{cri.pageNum} - 1) * #{cri.amount}
        ]]>
    </select>
    
    <select id="getDriverByd_id" resultType="com.tmate.domain.JoinDriverProfileVO">
        select m.m_id, m.m_name,m.m_profile ,m.m_birth, d.d_license_no, d.d_j_date, d.d_acnum, c.car_no, c.car_model
        from member m inner join driver d on m.m_id = d.d_id
                      inner join car c on d.d_id = c.m_id
        where d_id  = #{d_id}
    </select>

    <select id="getDriverHistoryList" resultType="com.tmate.domain.HistoryDTO">
        <![CDATA[
        select  merchant_uid, h_s_time, h_e_time, h_s_place, h_f_place, h_allfare
        from (select rownum rn, merchant_uid, h_s_time, h_e_time, h_s_place, h_f_place, h_allfare
        from history where d_id = #{d_id} and rownum <= #{cri.pageNum} * #{cri.amount})
        where rn > (#{cri.pageNum} - 1) * #{cri.amount}
        ]]>
    </select>

    <select id="getDriverReviewList" resultType="com.tmate.domain.ReviewDTO">
        <![CDATA[
        select r_code, r_reason , merchant_uid
        from (select rownum rn , r_code, r_reason, merchant_uid
        from review where m_id =#{d_id} and rownum <=#{cri.pageNum} * #{cri.amount})
        where rn > (#{cri.pageNum} - 1) * #{cri.amount}
        ]]>
    </select>

    <select id="getLikeCount" resultType="_int">
        select count(*)
        from review where substr(r_code,0,14)=#{d_id} and substr(r_code,15) like 'L%'
    </select>

    <select id="getDisLikeCount" resultType="_int">
        select count(*)
        from review where substr(r_code,0,14)=#{d_id} and substr(r_code,15) like 'H%'
    </select>

    <select id="getCountHistory" resultType="_int">
        select count(*)
        from history
        where d_id = #{d_id}
    </select>

    <select id="getCountReview" resultType="_int">
        select count(*)
        from review
        where m_id = #{d_id}
    </select>
</mapper>