<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmate.mapper.JoinMapper">

    <select id="getHistoryByMember" resultType="com.tmate.domain.DispatchDTO">
       <![CDATA[
        with driver_info as (
            select d.d_id, m.m_name, c.car_no, c.car_model
            from driver d join corp co on d.D_ID = co.D_ID
                          join car c on co.CAR_NO = c.car_no
                          join MEMBER m on d.d_id = m.m_id
        )
        select dp_id, start_place, finish_place, end_time, m_name, car_no, car_model
        from (select rownum rn, d.dp_id, d.start_place, d.finish_place, d.end_time, i.m_name, i.car_no, i.car_model
              from dispatch d, driver_info i, attend a
              where d.D_ID = i.D_ID and d.dp_id = a.dp_id and a.m_id = #{m_id} and d.DP_STATUS = '5' and rownum <= #{cri.pageNum} * #{cri.amount})
        where rn > (#{cri.pageNum} - 1) * #{cri.amount}
        ]]>
    </select>

    <select id="getPointByMember" resultType="com.tmate.domain.JoinPointVO" >
        <![CDATA[
        select po_exact, po_result, po_course, po_time, m_point
        from (select rownum rn,  p.po_exact as po_exact , p.po_result as po_result , p.po_course as po_course , p.po_time as po_time, m.m_point as m_point
              from point p inner join member m on p.m_id = m.m_id
              where p.m_id = #{m_id} and rownum <= #{cri.pageNum} * #{cri.amount})
        where rn > (#{cri.pageNum} - 1) * #{cri.amount}
        ]]>
    </select>

    <select id="getDriver" resultType="com.tmate.domain.JoinDriverVO">
        select d.d_id, m.m_name, d.d_license_no , c.car_no ,c.car_model, m.m_birth
        from member m inner join driver d on m.m_id = d.d_id inner join car c on d.d_id = c.m_id
        where d.d_id = #{d_id}

    </select>

    <select id="getApprovalDrivers" resultType="com.tmate.domain.JoinApprovalVO">
        <![CDATA[
        select corp_code, d_id, d_license_no , car_model
        from (select rownum rn, c.corp_code as corp_code , d.d_id as d_id, d.d_license_no as d_license_no , v.car_model as car_model
              from corp c inner join member m on c.d_id = m.m_id
                          inner join driver d on c.d_id = d.d_id
                          inner join car v on d.d_id = v.m_id
              where d.d_j_date is null  and rownum <= #{pageNum} * #{amount})
        where rn > (#{pageNum} - 1) * #{amount}
        ]]>
    </select>

    <select id="getTotalApproCount" resultType="_int">
        select count(*)
        from (select rownum rn, c.corp_code as corp_code , d.d_id as d_id, d.d_license_no as d_lisense_no , v.car_model as car_model
              from corp c inner join member m on c.d_id = m.m_id
                          inner join driver d on c.d_id = d.d_id
                          inner join car v on d.d_id = v.m_id
              where d.d_j_date is null)
    </select>

    <delete id="deleteDriver">
        delete from driver
        where d_id = #{d_id}
    </delete>

    <select id="getTotalHistoryCount" resultType="_int">
        select count(*)
        from (select  h.merchant_uid, h.h_s_place , h_f_place, h.h_s_time, h.h_e_time, m.m_name,c.car_no, c.car_model
              from history h inner join member m on h.d_id = m.m_id
                             inner join car c on m.m_id = c.m_id
              where h.m_id = #{m_id})
    </select>

    <select id="getTotalPointCount" resultType="_int">
        select count(*)
        from (select p.po_exact, p.po_result, p.po_course, p.po_time, m.m_point
              from point p inner join member m on p.m_id = m.m_id
              where p.m_id = #{m_id})
    </select>


    <select id="findHistoryToApp" resultType="com.tmate.domain.DispatchDTO">
        select d.dp_id, d.start_place, finish_place, start_time, end_time, m.m_name, c.car_no, c.car_model
        from (select DP_ID, START_PLACE, FINISH_PLACE, START_TIME, END_TIME, m_id,d_id from dispatch where m_id = #{m_id} and DP_STATUS = '5') d
                 join member m on d.m_id = m.m_id
                 join car c on d.d_id = c.m_id
    </select>


</mapper>