<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmate.mapper.Membermapper">

        <insert id="insertMember">
            insert into member(m_id, m_name, m_imei,m_birth, m_email,m_house)
            values(#{m_id},#{m_name},'1111',#{m_birth,jdbcType=TIMESTAMP},#{m_email,jdbcType=VARCHAR},#{m_house})
        </insert>

    <select id="getList" resultType="com.tmate.domain.MemberDTO">
         <![CDATA[
        select m_id, m_name, m_regdate, m_level, m_status, m_birth
        from
            (
                select rownum rn, m_id, m_name, m_regdate, m_level, m_status, m_birth
                from
                    member
                where m_id  like 'm%' and rownum <= #{pageNum} * #{amount}
            )
        where rn > (#{pageNum} - 1) * #{amount}
        ]]>
    </select>

    <update id="updateMember">
        update member
        set m_house = #{m_house}, m_email = #{m_email}
        where m_id = #{m_id}
    </update>

    <select id="getMemberByM_id" resultType="com.tmate.domain.MemberDTO">
        select * from member
        where m_id = #{m_id}
    </select>

    <select id="countMembers" resultType="_int">
        select count(*)
        from member
        where m_id not like 'a%'
    </select>

    <select id="countDrivers" resultType="_int">
        select count(*)
        from (select * from driver where d_j_date is not null)
    </select>

    <update id="updateDate">
        update driver set d_j_date = sysdate where d_id = #{d_id}
    </update>

    <delete id="deleteMember">
        delete from member
        where m_id = #{m_id}
    </delete>

    <delete id="deleteDriver">
        delete from driver
        where d_id = #{d_id}
    </delete>

    <delete id="deleteCar">
        delete from car
        where m_id = #{d_id}
    </delete>



    <select id="searchPermission" resultType="com.tmate.domain.MemberDTO">
        select *
        from member
        where substr(m_id,3,11) = #{phoneNumber}
          and m_name = #{name}
    </select>

    <select id="getTotalCount" resultType="_int">
        select count(*)
        from member
        where m_id  like 'm%'
    </select>
</mapper>