<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmate.mapper.PaymentMapper">

    <select id="getPaymentList" resultType="com.tmate.domain.PaymentDTO">
        select SID, substr(credit_no,61,4) as credit_no, pay_company, credit_vali, active, pay_alias from payment where m_id = #{m_id}
    </select>

    <select id="getPaymentByCustomer" resultType="com.tmate.domain.PaymentDTO">
        select SID, substr(credit_no,61,4) as credit_no, pay_company, credit_vali, pay_alias from payment where SID = #{customer_uid}
    </select>

    <insert id="insert">
        insert into payment (SID, m_id, pay_pg, pay_company, credit_no, credit_pw, credit_cvc, credit_vali)
        values(to_char(systimestamp,'yyMMddhh24missff')||pa_sec.nextval,#{m_id},'pg',#{pay_company},#{credit_no},#{credit_pw},#{credit_cvc},#{credit_vali})
    </insert>

    <insert id="kakaoReady">
        insert into receipt(tid, m_id, d_id, re_time)
        values(#{tid},#{m_id},#{d_id, jdbcType=VARCHAR},#{re_time})
    </insert>

    <select id="kakaoReadyRes" resultType="com.tmate.domain.KakaoDTO">
        select *
        from (
             select *
             from receipt
             order by re_time desc
                 )
        where m_id=#{m_id} and rownum=1
    </select>

    <update id="kakaoApprove">
        update receipt
        set aid=#{aid} and re_amt = #{re_amt}
        where tid = #{tid}
    </update>

    <delete id="delete">
        delete from payment where SID = #{sid}
    </delete>

    <select id="findPayment" resultType="string">
        select SID
        from payment
        where m_id = #{m_id}
    </select>

    <insert id="paymentInsert">
        insert into payment(sid, m_id, pay_pg, pay_company, card_type)
        values (#{sid},#{m_id},#{pay_pg},#{pay_company},#{card_type})
    </insert>
</mapper>