<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmate.mapper.PlaceMapper">

    <select id="getList" resultType="com.tmate.domain.PlaceDTO">
        select *
        from place
    </select>

    <delete id="delete">
        delete from place
        where pl_id = #{pl_id}
    </delete>

    <insert id="insert">
        insert into place (pl_id,pl_address,pl_name,pl_lat,pl_lng)
        values (#{pl_id},#{pl_address},#{pl_name},#{pl_lat},#{pl_lng})
    </insert>

    <select id="findBookmarkList" resultType="com.tmate.domain.BookmarkDTO">
        select * from bookmark where m_id = #{m_id}
    </select>

</mapper>