<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmate.mapper.StaticsMapper">

    <select id="getWeeklyUsers" resultType="_int">
        select count(*)
        from history
        where to_date(substr(merchant_uid,10,6),'yyMMdd') between  sysdate - 7 and sysdate
    </select>

    <select id="getMonthlyUsers" resultType="com.tmate.domain.MonthlyUsersVO">
        select to_date(substr(merchant_uid,10,4),'yyMM') as standard,  count(*) as users
        from history
        group by to_date(substr(merchant_uid,10,4),'yyMM')
        order by to_date(substr(merchant_uid,10,4),'yyMM')
    </select>

    <select id="getUsersByAge" resultType="com.tmate.domain.UsersByAgeVO">
        select trunc(age/10,0) as ageGroup , count(*) as count
        from (select ((substr(sysdate,1,2) - substr(m_birth,1,2) + 100)) as age
            from member)
        group by trunc(age/10,0)
        order by ageGroup
    </select>

    <select id="getHotPlaceList" resultType="com.tmate.domain.PlaceDTO">
        <![CDATA[
            select pl_name, pl_start
            from (select * from place order by pl_start desc)
            where rownum <=5
        ]]>
    </select>

    <select id="getCountUsePoint" resultType="com.tmate.domain.ChartDTO">
        select to_date(substr(to_char(po_time),1,5),'yy/MM') as standard, count(*) as count
        from point
        where m_id =#{m_id} and po_exact = '1'
        group by to_date(substr(to_char(po_time),1,5),'yy/MM')
        order by to_date(substr(to_char(po_time),1,5),'yy/MM')
    </select>

    <select id="getCountGetPoint" resultType="com.tmate.domain.ChartDTO">
        select to_date(substr(to_char(po_time),1,5),'yy/MM') as standard, count(*) as count
        from point
        where m_id =#{m_id} and po_exact = '0'
        group by to_date(substr(to_char(po_time),1,5),'yy/MM')
        order by to_date(substr(to_char(po_time),1,5),'yy/MM')
    </select>

    <select id="getCountNormal" resultType="com.tmate.domain.ChartDTO">
        select to_date(substr(merchant_uid,10,4),'yyMM') as standard,  count(*) as count
        from history
        where m_id = #{m_id} and substr(merchant_uid,28,1) = '1'
        group by to_date(substr(merchant_uid,10,4),'yyMM')
        order by to_date(substr(merchant_uid,10,4),'yyMM')
    </select>

    <select id="getCountTogether" resultType="com.tmate.domain.ChartDTO">
        select to_date(substr(merchant_uid,10,4),'yyMM') as standard,  count(*) as count
        from history
        where m_id = #{m_id} and substr(merchant_uid,28,1) = '0'
        group by to_date(substr(merchant_uid,10,4),'yyMM')
        order by to_date(substr(merchant_uid,10,4),'yyMM')
    </select>

    <select id="getCountUseCard" resultType="com.tmate.domain.ChartDTO">
        select to_date(substr(to_char(re_time),1,5),'yy/MM') as standard, count(*) as count
        from receipt
        where m_id = #{m_id} and use_cash = '0'
        group by to_date(substr(to_char(re_time),1,5),'yy/MM')
        order by to_date(substr(to_char(re_time),1,5),'yy/MM')
    </select>

    <select id="getCountUseCash" resultType="com.tmate.domain.ChartDTO">
        select to_date(substr(to_char(re_time),1,5),'yy/MM') as standard, count(*) as count
        from receipt
        where m_id = #{m_id} and use_cash = '1'
        group by to_date(substr(to_char(re_time),1,5),'yy/MM')
        order by to_date(substr(to_char(re_time),1,5),'yy/MM')
    </select>

    <select id="getStartRankList" resultType="com.tmate.domain.HistoryDTO">
        <![CDATA[
            select *
            from (select h_s_place ,count(h_s_place) as cnt, row_number() over (order by count(h_s_place) desc) as ranking
            from history
            group by h_s_place)
            where ranking <= 5
        ]]>
    </select>
</mapper>