<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/basic :: head}">
</head>

<body class="animsition">
<div class="page-wrapper">
    <aside th:replace="layout/basic2 :: mobile"></aside>
    <aside th:replace="layout/basic2 :: sidebar"></aside>

    <div class="page-container">
        <div th:replace="layout/basic2 :: header"></div>
        <section class="container-fluid contents_size">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <!-- Main content -->

            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h2 style="margin-top: auto">이벤트</h2>
                                </div>

                                <!-- /.card-header -->
                                <div class="card-body">
                                    <div class="row">
                                        <th:block th:each="e : ${event}">
                                            <div class="col-sm-6 col-md-4">
                                                <div class="thumbnail event-thumbnail">
                                                    <img src="/images/kakao.png" alt="...">
                                                    <div class="caption">
                                                        <h3 class="text-center" th:text="${e.bd_title}">반올림 이벤트</h3>
                                                        <p><a th:href="@{'/tuser/event/'+${e.bd_id}}" class="btn btn-primary event-btn" role="button">이벤트 조회</a>
                                                    </div>
                                                    <div class="event-date">
                                                        <p class="text-center">
                                                            <i class="fa fa-calendar" aria-hidden="true"></i> <span th:text="${#dates.format(e.bd_s_date,'yyyy-MM-dd')}">2021-03-01 </span> ~ <span th:text="${#dates.format(e.bd_e_date,'yyyy-MM-dd')}"> 2021-03-31</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </th:block>
                                    </div>
                                    <br><br>
                                    <nav>
                                        <ul class="pagination justify-content-center">
                                            <th:block th:if="${pageMaker.prev}">
                                                <li class="page-item">
                                                    <a class="page-link" th:href="@{/tuser/event(pageNum=${pageMaker.startPage-1})}" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                            </th:block>

                                            <li th:class=" 'page-item ' + ${pageMaker.cri.pageNum == page?'active':''}" th:each="page: ${pageMaker.pageList}">
                                                <a class="page-link" th:href="@{/tuser/event(pageNum=${page})}">
                                                    [[${page}]]
                                                </a>

                                            </li>

                                            <th:block th:if="${pageMaker.next}">
                                                <li class="page-item">
                                                    <a class="page-link" th:href="@{/tuser/event(pageNum=${pageMaker.endPage+1})}" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </th:block>
                                        </ul>


                                    </nav>
                                    <br>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>

            <!--회원관리 테이블 끝-->
        </section>
    </div>
</div>

<footer th:replace="layout/basic2 :: footer">
</footer>
</body>
</html>