<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/basic2 :: head}">
</head>

<body class="animsition">
<div class="page-wrapper">
    <aside th:replace="layout/basic2 :: mobile"></aside>
    <aside th:replace="layout/basic2 :: sidebar"></aside>

    <div class="page-container">
        <div th:replace="layout/basic2 :: header"></div>
        <div class="container-fluid contents_size">
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h2 style="margin-top: auto">공지사항</h2>
                                </div>
                                <div class="card-body">
                                    <table id="table" class="table table-light text-center table-striped table-hover shadow p-3 mb-5 bg-white rounded">
                                        <thead>
                                        <tr>
                                            <th>번호</th>
                                            <th>제목</th>
                                            <th>등록일</th>
                                            <th>조회수</th>
                                            <th>상태</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>3월 정기점검</td>
                                            <td>2월 28일</td>
                                            <td>1회</td>
                                            <td>작성자</td>
                                        </tr>


                                        <tr>
                                            <td>2</td>
                                            <td>3월 정기점검</td>
                                            <td>2월 28일</td>
                                            <td>1회</td>
                                            <td>작성자</td>
                                        </tr>


                                        <tr>
                                            <td>3</td>
                                            <td>3월 정기점검</td>
                                            <td>2월 28일</td>
                                            <td>1회</td>
                                            <td>작성자</td>
                                        </tr>


                                        <tr>
                                            <td>4</td>
                                            <td>3월 정기점검</td>
                                            <td>2월 28일</td>
                                            <td>1회</td>
                                            <td>작성자</td>
                                        </tr>


                                        <tr>
                                            <td>5</td>
                                            <td>3월 정기점검</td>
                                            <td>2월 28일</td>
                                            <td>1회</td>
                                            <td>작성자</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <br>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
    </div>
</div>

<footer th:replace="layout/basic2 :: footer">
</footer>
</body>
</html>