<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Jquery JS-->
    <script th:src="@{~/vendor/jquery-3.5.1.min.js}"></script>
</head>
<body>
<div>결제가 정상적으로 완료되었습니다.</div>
<div id="pg_token" th:text="${token}"></div>
<div>
    <span>결제일시 : </span><span th:text="${result.re_time}"></span>
</div>
<div>
    <span>구매자 코드 : </span><span id="partner_user_id" th:text="${result.m_id}"></span>
</div>
<div>
    <span>결제금액 : </span><span id="amount" th:text="${result.re_amt}"></span>
</div>
<div id="result"></div>

<input id="tid" type="hidden" th:value="${result.tid}"/>
<input id="partner_order_id" type="hidden" th:value="${result.d_id}"/>
<button id="submit">전송</button>
<script>

    $('#result').on('click', function () {

        $('#result').text('클릭됨');

        let data = {
            cid:'TC0ONETIME',
            tid: $('#tid').val(),
            partner_order_id:$('partner_order_id').val(),
            partner_user_id:$('partner_user_id').val(),
            pg_token: $('#pg_token').val()
        }

        $.ajax({
            data: JSON.stringify(data),
            type: 'POST',
            url: 'https://kapi.kakao.com/v1/payment/approve',
            contentType: 'application/x-www-form-urlencoded;charset=utf-8',
            success : function (result) {

                let resData = {
                    tid: result.tid,
                    aid: result.aid,
                    re_amt: result.amount.total
                }

                $.ajax({
                    data: JSON.stringify(resData),
                    type: 'PUT',
                    url: '/api/kakaoApprove',
                    success : function (result) {
                        $('#result').text(result);
                        window.history.back();
                    },
                    error : function (e) {
                        $('#result').text(e);
                    }
                })
            }


        });
    })
</script>

</body>
</html>