<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/basic :: head}">
</head>

<body class="animsition">
<div class="page-wrapper">
    <aside th:replace="layout/basic2 :: mobile"></aside>
    <aside th:replace="layout/basic2 :: sidebar"></aside>

    <div class="page-container">
        <div th:replace="layout/basic2 :: header"></div>
        <section class="container-fluid contents_size">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h2 style="margin-top: auto">결제 내역</h2>
                            </div>
                            <div class="card-body">

                                <div class="col-lg-12 col-md-12 col-sm-12 com-xs-12 point-chart">
                                    <div class="au-card m-b-30">
                                        <div class="au-card-inner">
                                            <h3 class="title-2 m-b-40">2021년 내역</h3>
                                            <canvas id="payment-barChart"></canvas>
                                        </div>
                                    </div>
                                </div>

                                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name" class="col-sm-4 col-xs-4 col-md-4">
                                <table id="myTable" class="table  table-earning table-light text-center table-striped table-bordered table-hover shadow p-3 mb-5 bg-white rounded">
                                    <thead>
                                    <tr>
                                        <th class="text-center">결제 고유 번호</th>
                                        <th class="text-center">결제 구분</th>
                                        <th class="text-center">결제 화폐</th>
                                        <th class="text-center">결제 시간</th>
                                        <th class="text-center">결제 금액</th>
                                        <th class="text-center">회사명</th>
                                    </tr>
                                    </thead>
                                    <tbody class="point text-center table-hover">
                                    <tr>
                                        <td>5654568751987689321012345678905589465264</td>
                                        <td>카드결제</td>
                                        <td>KRW</td>
                                        <td>2021-03-11-16:21</td>
                                        <td>3800</td>
                                        <td>KB</td>
                                    </tr>
                                    <tr>
                                        <td>5654568751987689321012345678905589465264</td>
                                        <td>카드결제</td>
                                        <td>KRW</td>
                                        <td>2021-03-11-16:21</td>
                                        <td>3800</td>
                                        <td>KB</td>
                                    </tr>
                                    <tr>
                                        <td>5654568751987689321012345678905589465264</td>
                                        <td>카드결제</td>
                                        <td>KRW</td>
                                        <td>2021-03-11-16:21</td>
                                        <td>3800</td>
                                        <td>KB</td>
                                    </tr>
                                    <tr>
                                        <td>5654568751987689321012345678905589465264</td>
                                        <td>카드결제</td>
                                        <td>KRW</td>
                                        <td>2021-03-11-16:21</td>
                                        <td>3800</td>
                                        <td>KB</td>
                                    </tr>
                                    <tr>
                                        <td>5654568751987689321012345678905589465264</td>
                                        <td>카드결제</td>
                                        <td>KRW</td>
                                        <td>2021-03-11-16:21</td>
                                        <td>3800</td>
                                        <td>KB</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>


<footer th:replace="layout/basic2 :: footer">
</footer>

</body>
</html>