<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/basic :: head}">
</head>

<body class="animsition">
<div class="page-wrapper">
    <aside th:replace="layout/basic2 :: mobile"></aside>
    <aside th:replace="layout/basic2 :: sidebar"></aside>

    <div class="page-container">
        <div th:replace="layout/basic2 :: header"></div>
        <section class="container-fluid contents_size">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h2 style="margin-top: auto">프로필 정보</h2>
                            </div>
                            <div class="card-body">
                                <table class="profile-table table">
                                    <colgroup>
                                        <col style="width: 190px">
                                        <col style="width: *">
                                        <col style="width: 50%">
                                    </colgroup>
                                    <thead>
                                        <button type="button" class="btn btn-info float-right mb-2 modiBtn">수정</button>
                                    </thead>
                                    <tbody>
<!--                                        <tr>-->
<!--                                            <th scope="row">-->
<!--                                                사진-->
<!--                                            </th>-->
<!--                                            <td>-->
<!--                                                <div>-->
<!--                                                    <img class="profile-img" src="/images/icon/Untitled-1.jpg">-->
<!--                                                </div>-->
<!--                                                <p>-->
<!--                                                    회원님의 프로필 사진을 등록해 주세요.-->
<!--                                                </p>-->
<!--                                            </td>-->
<!--                                            <td>-->
<!--                                                <button type="button" class="btn-default btn-sm w100 m-btn">사진변경</button>-->
<!--                                            </td>-->
<!--                                        </tr>-->

                                        <tr>
                                            <th scope="row">
                                                <p>이름</p>
                                            </th>
                                            <td>
                                                <input type="text" th:value="${member.m_name}" readonly>
                                            </td>
                                            <td>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th scope="row">
                                                휴대전화
                                            </th>
                                            <td>
                                                <input type="text" name="phone" th:value="${#strings.substring(member.m_id,2,13)}">
                                                <p>전화번호는 - 뺴고 작성해 주십시오</p>
                                            </td>
                                            <td class="m-btn-td">
                                                <button type="button" class="btn-sm btn-default m-btn pmbtn">휴대전화 변경</button>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th scope="row">
                                                생년월일
                                            </th>
                                            <td>
                                                <p th:text="${#strings.substring(member.m_birth,0,10)}">1997-09-04</p>
                                            </td>
                                            <td class="m-btn-td">
                                            </td>
                                        </tr>

                                        <tr>
                                            <th scope="row">
                                                이메일
                                            </th>
                                            <td>
                                                <input type="text" name="email" th:value="${member.m_email}" readonly>
                                            </td>
                                            <td class="m-btn-td">
                                                <button type="button" class="btn-sm btn-default m-btn embtn">이메일 변경</button>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th scope="row">
                                                주소
                                            </th>
                                            <td>
                                                <input type="text" name="address" th:value="${member.m_house}">
                                            </td>
                                            <td class="m-btn-td">
                                                <button type="button" class="btn-sm btn-default m-btn ambtn">주소 변경</button>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th scope="row">
                                                등급
                                            </th>
                                            <td>
                                                <p th:if="${member.m_n_use + member.m_t_use < 5}" >일반</p>
                                                <p th:if="${member.m_n_use + member.m_t_use >= 5 && member.m_n_use + member.m_t_use < 10}">우수</p>
                                                <p th:if="${member.m_n_use + member.m_t_use >= 10 && member.m_n_use + member.m_t_use < 20}">최우수</p>
                                                <p th:if="${member.m_n_use + member.m_t_use >= 20}">VIP</p>
                                            </td>
                                            <td>
                                                <p></p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

<!--                                <div class="social-check col-sm-6 col-md-6 col-lg-6">-->
<!--                                    <section class="profile-section">-->
<!--                                        <header>-->
<!--                                            <h2>소셜 로그인 연동</h2>-->
<!--                                        </header>-->
<!--                                        <br>-->
<!--                                        <div class="social-list">-->
<!--                                            <div class="controls">-->
<!--                                                <div class="row">-->
<!--                                                    <img src="/images/kakao.png" class="social-img">-->
<!--                                                    <div class="social-connect">-->
<!--                                                        <h3>카카오 로그인 연동</h3>-->
<!--                                                        <input class='toggle justify-content-end' type="checkbox" name='check-3' checked='checked' />-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="controls">-->
<!--                                                <div class="row">-->
<!--                                                    <img src="/images/naver.png" class="social-img">-->
<!--                                                    <div class="social-connect">-->
<!--                                                        <h3>네이버 로그인 연동</h3>-->
<!--                                                        <input class='toggle justify-content-end' type="checkbox" name='check-3' checked='checked' />-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </section>-->
<!--                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<script th:inline="javascript" type="text/javascript">
    $(document).ready(function () {


        $(".embtn").on("click", function () {

            $("input[name='email']").removeAttr('readonly');

        });

        $(".ambtn").on("click", function () {

            $("input[name='address']").removeAttr('readonly');

        });

        $(".pmbtn").on("click", function () {

            $("input[name='phone']").removeAttr('readonly');

        });

        $(".modiBtn").on("click", function () {

            let data = {
                m_id:[[${#authentication.principal.m_id}]],
                m_house:$("input[name='address']").val(),
                m_email:$("input[name='email']").val()
            }

            $.ajax({
                url:'/api/tuser/modifymem',
                type:'POST',
                data:JSON.stringify(data),
                contentType:'application/json; charset=utf-8',
                success: function () {
                    alert("수정 완료");
                    window.location.href="/tuser/profiled?m_id="+[[${#authentication.principal.m_id}]];
                },
                error: function (error) {
                    console.log(error);
                }
            })

        });


    });
</script>

<footer th:replace="layout/basic2 :: footer">
</footer>

</body>
</html>