.badge {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    border-radius: 0.25rem;
}

.bg-grey {
    background-color: grey;
}
.aptable-size{
    padding: 2em;
    height: 33em;
}
.apinfo-size{
    background-color: #FFFFFF;
    height: 33em;
    border: outset;
    padding: 2em;
}
.apinfo-font{
    font-size: 1.5rem;
}
.ap_profile{
    margin-left: 1rem;
    margin-right: 1rem;
}
.ap_profile img{
    border-radius: 70%;
    overflow: hidden;
}
.ap_title{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.ap_title_d{
    margin-left: 1rem;
}
.pn{
    display: block;
    text-align: center;
}
.d_info{
    margin-top: 10px;
}
.ap_d_info{
    margin-top: 2rem;
    margin-left: 7rem;
}
.ap_button{
    text-align: right;
    margin-right: 2rem;
    margin-top: 2rem;
}
.ap-vertical{
    vertical-align: middle;
}

