.profile-nav, .profile-info{
    margin-top:30px;
}

.profile-nav .user-heading {
    background: #fbc02d;
    color: #fff;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    padding: 30px;
    text-align: center;
    margin-top: 20px;
    height: 19.5em;
}

.profile-nav .user-heading.round a  {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 10px solid rgba(255,255,255,0.3);
    display: inline-block;
}

.profile-nav .user-heading a img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.profile-nav .user-heading h1 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 1em;
}

.profile-nav .user-heading span {
    margin-top: 1em;
    font-size: 15px;
    align-content: center;
}

.bio-graph-info {
    color: #89817e;
}

.bio-row {
    width: 50%;
    float: left;
    text-align: center;
    margin-top: 2em;
    position: relative;
    top: 20px;
    font-size: 20px;
}

.bio-row p span {
    width: 100px;
    display: inline-block;
}

.detail-box {
    border: #000001;
    background-color: #FFFFFF;
    margin-top: 1.4em;
    height: 19.5em;
}

.d-bio-row {
    width: 50%;
    float: left;
    text-align: center;
    position: relative;
    top: 15px;
    margin-top: 1.5em;
    font-size: 20px;
}