<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

    <th:block th:fragment="content">
        <link th:href="@{css/approvalList.css}" rel="stylesheet">
        <br><br>

        <h1 class="mt-4">승인관리</h1>
        <table class="table  table-earning table-light text-center">
            <thead>
            <tr>
                <th>구분</th>
                <th>소개</th>
                <th>경력</th>
                <th>승인 / 거절</th>
            </tr>
            </thead>
            <tbody class="table-hover">
            <tr th:each="apList : ${apList}">
                <td th:if="${apList.corp_code == i}" th:text="${test}" ></td>
                <td th:unless="${apList.corp_code == i}" th:text="${test1}" ></td>
                <td class="modalBtn">
                    <div>
                        <span class="badge bg-grey"  th:text="${#strings.substring(apList.d_license_no,3, 5)}"></span>
                        <span class="badge bg-grey" th:text="${apList.car_model}"></span>
                    </div>
                </td>
                <td th:text="${#strings.substring(apList.d_license_no,0, 2)}"></td>
                <td>
                    <button class="btn btn-success" type="button" id="app-approval">승인</button>
                    <button class="btn btn-danger" type="button" id="app-refusal">거절</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="">
            <br>
        </div>
        <!-- 페이지 네이션 -->
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="active page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- 모달 -->
        <div class="modal fade">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">기사 정보</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="float-left">
                            <img src="images/icon/avatar-01.jpg">
                        </div>
                        <div class="float-left" th:each="dvList : ${dvList}">
                            <p th:text="|이름 : ${dvList.m_name}|"></p>
                            <p th:text="|생년월일 : ${dvList.m_birth}|"></p>
                            <p th:text="|자격증번호 : ${dvList.d_license_no}|"></p>
                            <p th:text="|차량 : ${dvList.car_model}|"></p>
                            <p th:text="|지역 :  ${#strings.substring(dvList.d_license_no,3, 5)}|"></p>
                            <p th:text="|휴대폰번호 : ${#strings.substring(dvList.d_id,2, 12)}|"></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <script>
            $(document).ready(function () {
                var modal = $(".modal");

                $(".modalBtn").on("click", function (e) {
                    modal.modal("show");
                });

            });
        </script>
    </th:block>
</th:block>
