<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/basic :: head}">

</head>

<body class="animsition">
<div class="page-wrapper">
    <aside th:replace="layout/basic :: mobile"></aside>
    <aside th:replace="layout/basic :: sidebar"></aside>

    <div class="page-container">
        <div th:replace="layout/basic :: header"></div>
        <section class="container-fluid contents_size">
            <section class="four">
                <div class="container">
                    <h2>이벤트 작성</h2>
                    <div style="float: right" class="btn-group">
                        <button id="event-write-status" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            공개 <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">공개</a></li>
                            <li><a href="#">비공개</a></li>
                            <li><a href="#">예약</a></li>
                        </ul>
                    </div>
                </div>
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text">이벤트 이름</span>
                    </div>
                    <input type="text" class="form-control" placeholder="제목을 작성해 주세요." id="event-write-kind">
                </div>
                <br>
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text">내용</span>
                    </div>
                    <textarea class="form-control" rows="5" id="event-write-content"></textarea>
                </div>
                <div id="datetimepicker1" class="input-append date">
                    <input data-format="dd/MM/yyyy hh:mm:ss" type="text"/>
                    <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
                </div>
                <div id="datetimepicker2" class="input-append date">
                    <input data-format="dd/MM/yyyy hh:mm:ss" type="text"/>
                    <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
                </div>
                <button class="btn btn-danger" style="float: right" id="return-event">뒤로</button>
                <button id="event-write" class="btn btn-primary modalBtn" style="float: right">글 등록</button>
            </section>
        </section>
    </div>
</div>

<footer th:replace="layout/basic :: footer">
</footer>

</body>
</html>