<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/basic :: head}">
</head>
<body class="animsition">
<div class="page-wrapper">
    <aside th:replace="layout/basic :: mobile"></aside>
    <aside th:replace="layout/basic :: sidebar"></aside>
    <link th:href="@{css/detail.css}" rel="stylesheet">

    <div class="page-container">
        <div th:replace="layout/basic :: header"></div>
        <div class="container-fluid contents_size">
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h2>공지사항</h2>
                                </div>
                                <div class="card-header-title">
                                    <div class="not-title">
                                        <span class="float-left" th:text="| 이벤트 이름 : ${event.e_kind}|">제목</span>
                                        <span class="float-right not-time" th:text="${#strings.substring(event.e_s_date,0,16)}"></span>
                                        <span class="float-right not-time" th:text="${#strings.substring(event.e_e_date,0,16)}"></span>
                                    </div>
                                </div>
                                <div class="card-header-title">
                                    <div>
                                        <div>
                                            <span>글번호</span>
                                            <span th:text="| : ${#strings.substring(event.e_id,3)}|"></span>
                                            <span> &#124; 관리자 &#124; </span>
                                            <span class="no-font" >공개</span>
                                            <span class="no-font" th:case="1">비공개</span>
                                            <span class="no-font" th:case="2">예약</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p th:text="${event.e_contents}">내용</p>
                                </div>
                                <div class="card-footer">
                                    <div class="float-right">
                                        <button type="button" class="btn btn-primary" onclick="location.href='/event'" id="event-remove">삭제</button>
                                        <button type="button" class="btn btn-info" id="event-detail-modify">글 수정</button>
                                        <button type="button" class="btn btn-light" id="event-list">글 목록</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<input id="e_id" type="hidden" th:value="${event.e_id}">
<footer th:replace="layout/basic :: footer">
</footer>
</body>
</html>