<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/basic :: head}">
</head>

<body class="animsition">
<div class="page-wrapper">
    <aside th:replace="layout/basic :: mobile"></aside>
    <aside th:replace="layout/basic :: sidebar"></aside>

    <div class="page-container">
        <div th:replace="layout/basic :: header"></div>
        <section class="container-fluid contents_size">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                    </div>
                </div>
            </section>
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h2 style="margin-top: auto">이벤트</h2>
                                    <div class="row">
                                        <div class="col-sm-2"><p th:text="|번호 : ${event.e_id}|">번호 : not1</p></div>
                                        <div class="col-sm-3"><p th:text="|제목 : ${event.e_kind}|">제목 : Tmate 이벤트 입니다.</p></div>
                                        <div class="col-sm-2"><p th:text="|시작 날짜 : ${event.e_s_date}|">시작 날짜 : 2021-02-17</p></div>
                                        <div class="col-sm-2"><p th:text="|종료 날짜 : ${event.e_e_date}|">종료 날짜 : 2021-02-17</p></div>
                                        <div class="col-sm-2"><p>작성자 : 하창현</p></div>
                                        <div class="col-sm-2"><p>상태 : (공개)</p></div>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body" th:text="${event.e_contents}">
                                    </div>
                                    <br>
                                </div>
                                <div style="text-align: right ">
                                    <button type="button" class="btn btn-primary" onclick="location.href='/event'" id="event-remove">삭제</button>
                                    <button type="button" class="btn btn-primary"  id="event-detail-modify" onclick="location.href='/eventmodify'">글 수정</button>
                                    <button type="button" class="btn btn-primary" onclick="location.href='/event'">글 목록</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
</div>

<footer th:replace="layout/basic :: footer">
</footer>
</body>
</html>