<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <br><br><br><br><br><br>

        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h2 style="margin-top: auto">이벤트</h2><hr><br>
                                <div class="row">
                                    <div class="col-sm-3"><p th:text="${event.bd_title}">제목 : Tmate 이벤트 입니다.</p></div>
                                    <div class="col-sm-2"><p th:text="${event.bd_status}">등록일 : 2021-02-17</p></div>
                                    <div class="col-sm-2"><p th:text="${event.bd_id}">작성자 : 하창현</p></div>
                                    <div class="col-sm-2"><p th:text="${event.bd_status}">상태 : (공개)</p></div>
                                </div>
                            <!-- /.card-header -->
                            <div class="card-body" th:text="${event.bd_contents}">
                            </div>
                            <br>
                        </div>
                        <div style="text-align: right ">
                            <button type="button" class="btn btn-primary">글 수정</button>
                            <button type="button" class="btn btn-primary">글 목록</button>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </th:block>
</th:block>
</html>