<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/basic :: head}">
</head>

<body class="animsition">
<div class="page-wrapper">
    <aside th:replace="layout/basic :: mobile"></aside>
    <aside th:replace="layout/basic :: sidebar"></aside>

    <div class="page-container">
        <div th:replace="layout/basic :: header"></div>
        <section class="container-fluid contents_size">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <!-- Main content -->

            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h2 style="margin-top: auto">이벤트 관리</h2>
                                </div>

                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="table" class="table  table-earning table-light text-center table-striped table-bordered table-hover shadow p-3 mb-5 bg-white rounded">
                                        <thead>
                                        <tr>
                                            <th>번호</th>
                                            <th>제목</th>
                                            <th>작성자</th>
                                            <th>등록일</th>
                                            <th>조회수</th>
                                            <th>상태</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                        <tr th:each="eventList : ${eventList}">
                                            <td th:text="${eventList.e_id}"></td>
                                            <td><a th:href="@{'/event/'+${eventList.e_kind}}"><span th:text="${eventList.e_kind}"></span></a></td>
                                            <td>관리자</td>
                                            <td>2021-02-21</td>
                                            <td>4</td>
                                            <td>공개</td>
                                        </tr>
                                        </tr>

                                        </tbody>
                                        </tfoot>
                                    </table>
                                    <br>
                                    <div style="text-align: right ">
                                        <button type="button" class="btn btn-info" onclick="location.href='/eventwrite'">글작성</button>
                                    </div>

                                    <nav>

                                        <ul class="pagination justify-content-center">
                                            <th:block th:if="${pageMaker.prev}">
                                                <li class="page-item">
                                                    <a class="page-link" th:href="@{/event(pageNum=${pageMaker.startPage-1})}" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                            </th:block>

                                            <li th:class=" 'page-item ' + ${pageMaker.cri.pageNum == page?'active':''}" th:each="page: ${pageMaker.pageList}">
                                                <a class="page-link" th:href="@{/event(pageNum=${page})}">
                                                    [[${page}]]
                                                </a>

                                            </li>

                                            <th:block th:if="${pageMaker.next}">
                                                <li class="page-item">
                                                    <a class="page-link" th:href="@{/event(pageNum=${pageMaker.endPage+1})}" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </th:block>
                                        </ul>
                                    </nav>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>

            <!--회원관리 테이블 끝-->
        </section>
    </div>
</div>

<footer th:replace="layout/basic :: footer">
</footer>
</body>
</html>