<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/basic :: head}">
</head>
<body class="animsition" onload="initTmap();">
<div class="page-wrapper">
    <aside th:replace="layout/basic :: mobile"></aside>
    <aside th:replace="layout/basic :: sidebar"></aside>
    <div class="page-container">
        <div th:replace="layout/basic :: header"></div>
        <section class="container-fluid contents_size">
            <link th:href="@{css/hotplace.css}" rel="stylesheet">
            <div>
                <div>
                    <div id="map_div" class="map_wrap map_size"></div>
                </div>
            </div>
            <div class="hot-search">
                <div class="hot-search-box">
                    <h4>통합검색</h4>
                    <div class="hot-box">
                        <input type="text" class=" hot-input" id="searchKeyword" name="searchKeyword">
                        <button id="btn_select" class="hot-button"><i class="fas fa-search"></i> </button>
                    </div>
                </div>
                <div class="rst_wrap">
                    <div class="rst mCustomScrollbar">
                        <ul id="searchResult" name="searchResult" class="hot-info">
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="scroll table_size">
                <table class="table table-earning table-light text-center">
                    <thead class="hot-table">
                    <tr>
                        <th>우편번호</th>
                        <th>장소명</th>
                        <th>출발지 선택 횟수</th>
                        <th>도착지 선택 횟수</th>
                    </tr>
                    </thead>
                    <tbody class="table-hover ">
                    <tr th:each="placeList : ${placeList}">
                        <td th:text="${placeList.pl_id}"></td>
                        <td class="modalBtn" th:text="${placeList.pl_name}"></td>
                        <td th:text="${placeList.pl_start}">1회</td>
                        <td th:text="${placeList.pl_finish}">1회</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- 모달 -->
            <div class="modal fade">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">핫플레이스 정보</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <div class="float-left" th:each="placeList : ${placeList}">
                                <p th:text="|우편번호 : ${placeList.pl_id}|"></p>
                                <p th:text="|장소명 : ${placeList.pl_name}|"></p>
                                <p th:text="|위도 : ${placeList.pl_lttd}|"></p>
                                <p th:text="|경도 : ${placeList.pl_lngtd}|"></p>
                                <p th:text="|출발지 횟수 :  ${placeList.pl_start}|"></p>
                                <p th:text="|도착지 횟수 : ${placeList.pl_start}|"></p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" type="button" id="hotplace-remove">삭제</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <script>
                $(document).ready(function () {
                    var modal = $(".modal");
                    $(".modalBtn").on("click", function (e) {
                        modal.modal("show");
                    });
                });
            </script>
            <script
                    src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=l7xx7a3aedaa257443dab26e19a94f058d61"></script>
            <script type="text/javascript">
                var map, marker;
                var markerArr = [];
                var markers = [];
                var place = {}; // ajax로 넘길 데이터
                var lonlat;
                var result;
                function initTmap(){
                    // 1. 지도 띄우기
                    map = new Tmapv2.Map("map_div", {
                        center: new Tmapv2.LatLng(37.570028, 126.986072),
                        width : "74%",
                        height : "57vh",
                        zoom : 15,
                        zoomControl : true,
                        scrollwheel : true
                    });

                        map.addListener("click", onClick);

                    // 클릭 할때마다 마커 생성
                    function onClick(e) {

                        removeMarkers();

                        lonlat = e.latLng;

                        marker = new Tmapv2.Marker({
                            position:new Tmapv2.LatLng(lonlat.lat(),lonlat.lng()),
                            map:map
                        });

                        place.pl_lttd=lonlat.lat();
                        console.log(place.pl_lttd);
                        place.pl_lngtd=lonlat.lng();
                        console.log(place.pl_lngtd);


                        // marker 클릭이벤트 등록
                        marker.addListener("click",function (evt) {
                            loadGetLonLatFromAddress();

                        });



                        markers.push(marker);

                    }

                    // 마커 지우기
                    function removeMarkers(){
                        for(var i = 0; i<markers.length;i++){
                            markers[i].setMap(null);
                        }

                        markers=[];
                    }

                    // 좌표 -> 주소로 바꾸는것
                    function loadGetLonLatFromAddress() {
                        // TData 객체 생성
                        var tData = new Tmapv2.extension.TData();

                        var optionObj = {
                            coordType: "WGS84GEO",
                            addressType:"A04"
                        };

                        var params = {
                            onComplete: onComplete,
                            onProgress:onProgress,
                            onError:onError
                        };

                        tData.getAddressFromGeoJson(lonlat.lat(),lonlat.lng(),optionObj,params);
                    }

                    //리버스 지오코딩
                    function onComplete() {
                        console.log(this._responseData); //json으로 데이터를 받은 정보들을 콘솔창에서 확인할 수 있습니다.
                        result ='현재 지도의 중심 좌표주소 : ' + this._responseData.addressInfo.fullAddress; //출력될 결과 주소 정보 입니다.
                        place.pl_name=this._responseData.addressInfo.fullAddress;
                        console.log(place);

                        var url = 'https://apis.openapi.sk.com/tmap/geo/postcode';
                        var params = {
                            "version" : "2",
                            "appKey" : "l7xx7a3aedaa257443dab26e19a94f058d61",
                            "addr":place.pl_name,
                            "addressFlag":"F02"
                        };

                        console.log(params);

                        $.get(url,params,success).fail(fail);
                    }

                    function success(data){
                        console.log(data.coordinateInfo.coordinate[0].zipcode);
                        place.pl_id=data.coordinateInfo.coordinate[0].zipcode;
                        console.log(place);

                        let choice = confirm("추가하시겠습니까?"+"\n"+"우편번호"+place.pl_id+"\n"+"장소명"+place.pl_name);

                        if(choice){
                            // ajax
                            $.ajax({
                               url:'/api/hotplaceregister',
                               method: 'post',
                               data:JSON.stringify(place),
                                contentType: 'application/json; charset=utf-8',
                                success:function (result) {
                                    if(result){
                                        alert("추가했습니다");
                                    }
                                }
                            });
                        }else{
                            return false;
                        }
                    }

                    function fail(error){
                        console.error(error);
                        alert("다시시도하세요");
                    }

                    //데이터 로드중 실행하는 함수입니다.
                    function onProgress(){
                        //alert("onComplete");
                    }

                    //데이터 로드 중 에러가 발생시 실행하는 함수입니다.
                    function onError(){
                        alert("onError");
                    }




                    // 2. POI 통합 검색 API 요청
                    $("#btn_select").click(function(){
                        var searchKeyword = $('#searchKeyword').val();
                        $.ajax({
                            method:"GET",
                            url:"https://apis.openapi.sk.com/tmap/pois?version=1&format=json&callback=result",
                            async:false,
                            data:{
                                "appKey" : "l7xx7a3aedaa257443dab26e19a94f058d61",
                                "searchKeyword" : searchKeyword,
                                "resCoordType" : "EPSG3857",
                                "reqCoordType" : "WGS84GEO",
                                "count" : 10
                            },
                            success:function(response){
                                var resultpoisData = response.searchPoiInfo.pois.poi;
                                // 기존 마커, 팝업 제거
                                if(markerArr.length > 0){
                                    for(var i in markerArr){
                                        markerArr[i].setMap(null);
                                    }
                                }
                                var innerHtml =""; // Search Reulsts 결과값 노출 위한 변수
                                var positionBounds = new Tmapv2.LatLngBounds();       //맵에 결과물 확인 하기 위한 LatLngBounds객체 생성
                                for(var k in resultpoisData){
                                    var noorLat = Number(resultpoisData[k].noorLat);
                                    var noorLon = Number(resultpoisData[k].noorLon);
                                    var name = resultpoisData[k].name;
                                    var pointCng = new Tmapv2.Point(noorLon, noorLat);
                                    var projectionCng = new Tmapv2.Projection.convertEPSG3857ToWGS84GEO(pointCng);
                                    var lat = projectionCng._lat;
                                    var lon = projectionCng._lng;
                                    var markerPosition = new Tmapv2.LatLng(lat, lon);
                                    marker = new Tmapv2.Marker({
                                        position : markerPosition,
                                        //icon : "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_b_m_a.png",
                                        icon : "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_b_m_" + k + ".png",
                                        iconSize : new Tmapv2.Size(24, 38),
                                        title : name,
                                        map:map
                                    });
                                    innerHtml += "<li class='hot-info-list'><img src='http://tmapapi.sktelecom.com/upload/tmap/marker/pin_b_m_" + k + ".png' style='vertical-align:middle;'/><span>"+name+"</span></li>";
                                    markerArr.push(marker);
                                    positionBounds.extend(markerPosition); // LatLngBounds의 객체 확장
                                }
                                $("#searchResult").html(innerHtml);    //searchResult 결과값 노출
                                map.panToBounds(positionBounds);   // 확장된 bounds의 중심으로 이동시키기
                                map.zoomOut();
                            },
                            error:function(request,status,error){
                                console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                            }
                        })
                    });
                }


            </script>
        </section>
    </div>
</div>
<footer th:replace="layout/basic :: footer">
</footer>
</body>
</html>