<!-- 로그인 모달 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<th:block th:fragment="loginModal">
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content" id="login-form">
            <div class="index-modal-header">
                <div class="heading">Login to <span class="login-T">T</span> <span class="login-MATE">MATE</span></div>
            </div>
            <div class="modal-body">
                <div class="right">
                    <div class="connect">소셜 로그인</div>
                    <a href="/oauth2/authorization/google" class="google">
                        <i class="fab fa-google-plus" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
</th:block>
</body>
</html>