<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/basic :: head}">
</head>

<body class="animsition">
<div class="page-wrapper">
    <aside th:replace="layout/basic :: mobile"></aside>
    <aside th:replace="layout/basic :: sidebar"></aside>

    <div class="page-container">
        <div th:replace="layout/basic :: header"></div>
        <section class="container-fluid contents_size">
            <section class="container-fluid contents_size">
                <section class="welcome2 p-t-40 p-b-55" id="img-bar">
                    <div class="container" >
                        <h1>
                            <span class="txt-type" data-wait="2500" data-words='["어서오세요 TMATE입니다."]'></span>
                        </h1>
                        <h2>Welcome To My Website</h2>
                    </div>
                </section>
                <section class="statistic statistic2">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-lg-4">
                                <div class="overview-item overview-item--c1">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="text">
                                                <h2 th:text="${members}">395,368</h2>
                                                <span>전체 유저 수</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart1"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="overview-item overview-item--c2">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="text">
                                                <h2 th:text="${drivers}">388,688</h2>
                                                <span>전체 기사 수</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart2"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="overview-item overview-item--c3">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="text">
                                                <h2 th:text="${weeklyUsers}">7,593</h2>
                                                <span>주간 이용량</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart4"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- END STATISTIC-->

                <!-- STATISTIC CHART-->
                <section class="statistic-chart">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-4">
                                <!-- CHART-->
                                <div class="statistic-chart-1">
                                    <h3 class="title-3 m-b-30">월간 이용 횟수</h3>
                                    <div class="chart-wrap">
                                        <canvas id="singelBarChart"></canvas>
                                    </div>
                                    <div class="statistic-chart-1-note">
                                        <span class="big"></span>
                                        <span> </span>
                                    </div>
                                </div>
                                <!-- END CHART-->
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <!-- TOP CAMPAIGN-->
                                <div class="top-campaign">
                                    <h3 class="title-3 m-b-30">핫플레이스 출발지 순위</h3>
                                    <div class="table-responsive">
                                        <table class="table table-top-campaign">
                                            <tbody>
                                            <tr th:each="placeByStart : ${placeByStart}">
                                                <td th:text="${placeByStart.pl_name}">1. 대구광역시</td>
                                                <td th:text="${placeByStart.pl_start}">18,623회</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- END TOP CAMPAIGN-->
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <!-- CHART PERCENT-->
                                <div class="chart-percent-2">
                                    <h3 class="title-3 m-b-30">나이대별 이용 비율</h3>
                                    <div class="chart-wrap">
                                        <canvas id="percent-chart2"></canvas>
                                        <div id="chartjs-tooltip">
                                            <table></table>
                                        </div>
                                    </div>
                                </div>
                                <!-- END CHART PERCENT-->
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </section>
    </div>
</div>

<footer th:replace="layout/basic :: footer">
</footer>
</body>
</html>