<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/basic :: head}">
</head>

<body class="animsition">
<div class="page-wrapper">
    <aside th:replace="layout/basic :: mobile"></aside>
    <aside th:replace="layout/basic :: sidebar"></aside>

    <div class="page-container">
        <div th:replace="layout/basic :: header"></div>
        <section class="container-fluid contents_size">
            <br><br><br><br><br><br>

            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <!-- Main content -->

            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h2 style="margin-top: auto">공지사항</h2><hr><br>
                                    <div>
                                        <div>
                                            <div class="detail_font">
                                                <p th:text="${notice.bd_title}"></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-2"><p id="bd_id" th:text="|번호 : ${#strings.substring(notice.bd_id,3)}|"></p></div>
                                            <div class="col-sm-2"><p th:text="|작성일자 : ${#strings.substring(notice.bd_cre_date,0,16)}|">시작 날짜 : 2021-02-17</p></div>
                                            <div class="col-sm-2"><p>작성자 : 하창현</p></div>
                                            <div class="col-sm-2" th:switch="${notice.bd_status}">
                                                <p th:case="0">상태 : 공개</p>
                                                <p th:case="1">상태 : 비공개</p>
                                                <p th:case="2">상태 : 예약</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body" th:text="${notice.bd_contents}">
                                </div>
                                <br>
                            </div>
                            <div style="text-align: right ">
                                <button type="button" class="btn btn-primary" id="notice-remove">삭제</button>
                                <button type="button" class="btn btn-primary" id="notice-modify-move">글 수정</button>
                                <button type="button" class="btn btn-primary" id="notice-list">글 목록</button>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->
        </section>
    </div>
</div>

<footer th:replace="layout/basic :: footer">
</footer>

</body>
</html>