<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/basic :: head}">
</head>
<body class="animsition">
<div class="page-wrapper">
    <aside th:replace="layout/basic :: mobile"></aside>
    <aside th:replace="layout/basic :: sidebar"></aside>
    <div class="page-container">
        <div th:replace="layout/basic :: header"></div>
        <div class="container-fluid contents_size">
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h2 style="margin-top: auto">공지사항 수정</h2>
                                </div>
                                <div class="card-header-title">
                                    <div class="input-group-prepend">
                                        <input type="hidden" id="notice-modify-id" th:value="${board.bd_id}" />
                                        <span class="input-group-text">제목</span>
                                        <input type="text" class="form-control" id="notice-modify-title" th:value="${board.bd_title}">

                                        <div class="btn-group justify-content-end">
                                            <select id="notice-modify-status">
                                                <option value="0">공개</option>
                                                <option value="1">비공개</option>
                                                <option value="2">예약</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">내용</span>
                                        </div>
                                        <textarea class="form-control" rows="10" id="notice-modify-content" th:text="${board.bd_contents}"></textarea>
                                    </div>
                                </div>

                                <div class="card-footer">
                                    <div class="float-right">
                                        <button type="button" id="notice-modify" class="btn btn-primary modalBtn">글 수정</button>
                                    </div>
                                    <div class="float-left">
                                        <button type="button" id="notice-list" class="btn btn-info">뒤로</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<footer th:replace="layout/basic :: footer">
</footer>
<script th:src="@{~/js/app/board.js}"></script>
</body>
</html>