<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/basic :: head}">
</head>

<body class="animsition">
<div class="page-wrapper">
    <aside th:replace="layout/basic :: mobile"></aside>
    <aside th:replace="layout/basic :: sidebar"></aside>

    <div class="page-container">
        <div th:replace="layout/basic :: header"></div>
        <section class="container-fluid contents_size">
            <br><br><br><br><br><br>
            <table>
                <div id="main">
                    <section class="four">
                        <div class="container">
                            <h2>공지사항 작성</h2><hr>
                            <div style="float: right" class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                     <span id="notice-write-status" class="caret">0</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">공개</a></li>
                                    <li><a href="#">비공개</a></li>
                                    <li><a href="#">예약</a></li>
                                </ul>
                            </div>

                        </div><br><br>
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text">제목</span>
                            </div>
                            <input type="text" class="form-control" placeholder="제목을 작성해 주세요." id="notice-write-title">
                        </div>
                        <br>
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text">내용</span>
                            </div>
                            <textarea class="form-control" rows="5" id="notice-write-content"></textarea>
                        </div>
                        <button id="back" class="btn btn-danger" style="float: right"onclick="location.href='/notice'">뒤로</button>
                        <button id="notice-write" class="btn btn-primary modalBtn" style="float: right">글 등록</button>
                    </section>
                </div>
            </table>
            <input type="hidden" th:value="a101091841243" id="m_id">
        </section>
    </div>
</div>
<footer th:replace="layout/basic :: footer">
</footer>
<script th:src="@{~/js/app/board.js}"></script>
</body>
</html>