<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/basic :: head}">
</head>
<body class="animsition">
<div class="page-wrapper">
    <aside th:replace="layout/basic :: mobile"></aside>
    <aside th:replace="layout/basic :: sidebar"></aside>
    <div class="page-container">
        <div th:replace="layout/basic :: header"></div>
        <div class="container-fluid contents_size">
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h2 style="margin-top: auto">회원관리</h2>
                                </div>
                                <div class="card-body">
                                    <table id="table" class="table  table-earning table-light text-center table-striped table-bordered table-hover shadow p-3 mb-5 bg-white rounded">
                                        <thead>
                                        <tr>
                                            <th class="text-center">구분</th>
                                            <th class="text-center">이름</th>
                                            <th class="text-center">휴대폰번호</th>
                                            <th class="text-center">가입일자</th>
                                            <th class="text-center">생년월일</th>
                                            <th class="text-center">등급</th>
                                            <th class="text-center">상태</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="memberList : ${memberList}">
                                            <td class="text-center" th:switch="${#strings.substring(memberList.m_id, 0, 1)}">
                                                <p th:case="m">유저</p>
                                                <p th:case="d">기사</p>
                                                <p th:case="a">관리자</p>
                                            </td>
                                            <td><a th:href="@{'/user/'+${memberList.m_id}}"><span th:text="${memberList.m_name}"></span></a></td>
                                            <td class="text-center">
                                                <span th:text="${#strings.substring(memberList.m_id,2, 5)}"></span>-<span th:text="${#strings.substring(memberList.m_id,5, 9)}"></span>
                                                -<span th:text="${#strings.substring(memberList.m_id,9, 13)}"></span>
                                            </td>
                                            <td class="text-center" th:text="${#strings.substring(memberList.m_regdate,0, 10)}"></td>
                                            <td class="text-center" th:text="${#strings.substring(memberList.m_birth,2, 10)}"></td>
                                            <td class="text-center" th:switch="${memberList.m_level}">
                                                <p th:case="0">일반</p>
                                                <p th:case="1">우수</p>
                                                <p th:case="2">최우수</p>
                                                <p th:case="3">VIP</p>
                                            </td>
                                            <td class="text-center" th:switch="${memberList.m_status}">
                                                <p th:case="0">정상</p>
                                                <p th:case="1">휴면</p>
                                                <p th:case="2">정지</p>
                                            </td>
                                        </tr>
                                    </table>

                                    <nav>
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Previous">
                                                    <span aria-hidden="true">처음으로</span>
                                                </a>
                                            </li>
                                            <li class="active page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                                            <li class="page-item"><a class="page-link" href="#">6</a></li>
                                            <li class="page-item"><a class="page-link" href="#">7</a></li>
                                            <li class="page-item"><a class="page-link" href="#">8</a></li>
                                            <li class="page-item"><a class="page-link" href="#">9</a></li>
                                            <li class="page-item"><a class="page-link" href="#">10</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Next">
                                                    <span aria-hidden="true">다음</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<footer th:replace="layout/basic :: footer">
</footer>
</body>
</html>